<div class="main-login d-flex align-items-center justify-content-center">
  <div class="p-5 bg-light">

    <h2 class="mb-5">お問い合わせありがとうございます。<br>以下の内容で送信が完了しました。</h2>

    <h3 class="mt-5">タイトル</h3>
    <h3><%= @contact.title %></h3>
    <h3 class="mt-5">内容</h3>
    <p class="mb-5"><%= @contact.message %></p>
    <div class="text-center">
    <%= link_to "トップへ", root_path, class:"btn btn-primary text-white" %>
    </div>
  </div>
</div>
