<% comments.each do |comment| %>
  <div>
    <%= comment.comment %>
    <%= comment.user.name %>
    <% if comment.user == current_user %>
      <%= link_to "削除", article_comment_path(article_id: article, id: comment.id), method: :delete, remote: true %>
    <% end %>
  </div>
<% end %>