<div class="container">
  <div class="row d-flex flex-column">

    <div class="h2 py-5">
    "<%= @search %>" の検索結果
    </div>

    <% if @search == "" %>
      <p>検索結果がありません</p>
    <% else %>
      <% @articles.each do |article| %>
        <div class="row col-md-8 d-flex border border-dark">
          <p class="my-2"><%= article.title %></p>
          <p class="ml-auto my-auto badge"><%= article.level %></p>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>