<div class="container">

  <div class="row d-flex align-items-center pt-5">
    <h1 class="flex-grow-1 ml-4">Latest Articles</h1>
    <div class="d-flex align-items-center ml-auto mr-5">

      <% if user_signed_in? && Score.exists?(user_id: current_user.id) && current_user.scores.maximum(:score) >= 26 %>
        <%= link_to  new_article_path, class: 'btn border border-dark mr-5 bg-light' do %>
        <i class="fas fa-edit"></i>
        <p class="mb-0">記事を書く</p>
        <% end %>
      <% end %>

      <%= render 'layouts/search-bar' %>

    </div>
  </div>

  <div class="article-index">
    <%= render "article-index", tag: @tag, level: @level, articles: @articles, tags: @tags %>
  </div>

</div>
