<% if @contact.nil? %>
<% else %>
  <div class="border border-dark bg-white p-5">
    <h1 class="pt-3">タイトル</h1>
    <h2 class="border-bottom mt-3 pb-4"><%= @contact.title %></h2>

  　<h1>問い合わせ内容</h1>
  　<h3><%= @contact.message %></h3>
  </div>
<% end %>