<div class="container-fluid">

    <h1 class="my-5">当サイトのご利用方法</h1>

    <div class="row d-flex fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">こんな経験はありませんか？</h1>
        <ul class="about-text-sentence">
          <li>コンテンツのレベル高くて理解できなかった</li>
          <li>それを読むために必要な前提知識が無いことに途中で気づいた</li>
          <li>読み切れてもあまり理解出来ず、時間を無駄にしてしまった</li>
        </ul>
      </div>
    </div>

    <div class="row d-flex flex-row-reverse fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">こんな経験はありませんか？</h1>
        <ul class="about-text-sentence">
          <li>コンテンツのレベル高くて理解できなかった</li>
          <li>それを読むために必要な前提知識が無いことに途中で気づいた</li>
          <li>読み切れてもあまり理解出来ず、時間を無駄にしてしまった</li>
        </ul>
      </div>
    </div>

    <div class="row d-flex fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">こんな経験はありませんか？</h1>
        <ul class="about-text-sentence">
          <li>コンテンツのレベル高くて理解できなかった</li>
          <li>それを読むために必要な前提知識が無いことに途中で気づいた</li>
          <li>読み切れてもあまり理解出来ず、時間を無駄にしてしまった</li>
        </ul>
      </div>
    </div>

    <div class="row d-flex flex-row-reverse fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">こんな経験はありませんか？</h1>
        <ul class="about-text-sentence">
          <li>コンテンツのレベル高くて理解できなかった</li>
          <li>それを読むために必要な前提知識が無いことに途中で気づいた</li>
          <li>読み切れてもあまり理解出来ず、時間を無駄にしてしまった</li>
        </ul>
      </div>
    </div>

</div>
