<div class="container">

    <h1 class="font-weight-bold my-5">当サイトのご利用について</h1>
    <ul class="about-prologue">
      <li>B(est) S(martphone) L(ife)はモバイル通信やガジェットなどに関する情報サイトです。</li>
      <li>会員登録なしでも記事の閲覧して頂けます。</li>
      <li>会員登録後にクイズを受けていただくと知識レベルに応じた投稿がレコメンドされるようになります。</li>
      <li>モバイル知識拡充により、より良いスマートライフの実現をを目指しましょう！</li>
      <li>テストのスコアが上級者レベルになると記事の投稿が出来るようになります。ぜひあなたの知識をシェアしてください！</li>
    </ul>

    <div class="row d-flex about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">こんな経験はありませんか？</h1>
        <ul class="about-text-sentence">
          <li>コンテンツのレベル高くて理解できなかった</li>
          <li>それを読むために必要な前提知識が無いことに途中で気づいた</li>
          <li>読み切れてもあまり理解出来ず、<span class="text-danger">時間を無駄にしてしまった</span></li>
        </ul>
      </div>
    </div>

    <div class="row d-flex flex-row-reverse fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">自分に合ったコンテンツ</h1>
        <ul class="about-text-sentence">
          <li>会員登録をするとクイズを受けられます</li>
          <li>ぜひ今の知識レベルを確認してください</li>
          <li>一覧やマイページを読み漁りレベルアップを目指しましょう</li>
          <li><span class="text-danger">知れば知るほど面白い（きっと）</span></li>
        </ul>
      </div>
    </div>

    <div class="row d-flex fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">最適解を探そう！</h1>
        <ul class="about-text-sentence">
          <li>料金プランや機種、キャリア、ガジェットを見直そう</li>
          <li><span class="text-danger">「何となく」「勧められたから」「長く使っているから」</span><br>以外の理由をあなたはもう見つけられるはず</li>
          <li>あとは自分の最適解を探すのみ</li>
        </ul>
      </div>
    </div>

    <div class="row d-flex flex-row-reverse fadein about-content">
      <span class="col-md-4 about-image1"></span>
      <div class="col-md-8 bg-white about-text">
        <h1 class="font-weight-bold about-text-title">＋α</h1>
        <ul class="about-text-sentence">
          <li>Iot？ eSIM？ DSDS？ Sub6？ ミリ波？ SAR?</li>
          <li>知っているといいことあるかも</li>
        </ul>
      </div>
    </div>

</div>
