/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree .
*= require_self
*/
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f3f3;
  font-family: "MS Pゴシック";
}

.header {
  background-color: #f3f3f3;
  box-shadow: 3px 0px 10px;
  width: 100%;
  height: 70px;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  text-shadow: gray 1px 1px 3px;
}

.nav-bg {
  background-color: #f3f3f3;
}

.navbar-nav>li>a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.main {
  min-height: calc(100vh - 150px);
  margin-bottom: 20px;
}

.main-login {
  min-height: calc(100vh - 150px);
}

footer{
  height: 130px;
}

.alert {
  font-size: 2rem;
}

.error {
  list-style: none;
  color: red;
}

p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

.question-block {
  display: flex;
  flex-wrap: wrap;
}

.question-p {
  white-space: nowrap;
}

.top-image {
  background-image: image-url("img/top-image2.jpg");
  background-size: cover;
  background-position: center center;
  height: 450px;
  border-radius: 30px;
}

.top-group {
  border-radius: 30px;
  border: 5px solid gray;
}

.top-text {
  font-size: 3.5rem;
  // font-weight: bold;
  font-family: 'Corben', cursive;
  letter-spacing: 10px;
  text-shadow: #FC0 1px 0 10px;
}

.top-sentence {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Corben', cursive;
}

.pagination {
  justify-content: center;
}

.pagination>li {
  border: none;
  color: #696969;
  border-radius: 20px;
  margin-right: 10px;
}

.pagination>li>a {
  border: none;
  color: #696969;
  border-radius: 20px;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 20px;
}

.pagination>li>a:hover {
  background: #93c9ff;
  border-radius: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: solid 1px black;
}

.swiper-slide a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.swiper-slide p {
  font-size: 15px;
}

a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: none;
}

.tag_link:hover {
  color: red;
}

.profile {
  border-collapse: collapse;
}

table.profile tbody {
  border: 1px solid #000066;
}

table.profile td {
  border: 1px solid #000066;
  background:#ffffff;
}

.contact-title {
  font-size: 15px;
  margin-bottom: 10px;
}

.article-body {
  font-size: 1.4rem;
  line-height: 2em;
}

.precautions>ul>li {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.favorite_create_icon {
  font-size: 18px;
}

.favorite_delete_icon {
  font-size: 18px;
  color: #f3e524;
  text-shadow: 0 0 2px #000;
}

.about-prologue>li {
  list-style: none;
  font-size: 1.5rem;
  margin-top: 3px;
  letter-spacing: 2px;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

.about-content {
  margin-top: 80px;
}

.about-image1 {
  background-image: image-url("img2/about8.jpg");
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.about-image2 {
  background-image: image-url("img2/about2.jpg");
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.about-image3 {
  background-image: image-url("img2/about9.jpg");
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.about-image4 {
  background-image: image-url("img2/about3.jpg");
  background-size: cover;
  background-position: center center;
  height: 250px;
}

.about-text {
  position: relative;
}

.about-text-title {
  position: absolute;
  top: -20px;
  left: 80px;
  font-size: 3rem;
  font-weight: bold;
}

.about-text-sentence {
  list-style: none;
  position: absolute;
  top: 50px;
  left: 80px;
}

.about-text-sentence>li {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 10px;
}

.family-test {
  letter-spacing: 2px;
  font-family: YuGothic,'Yu Gothic';
}



@media only screen and (max-width:600px) {

.precautions {
  margin-top: 30px;
}

.top-image {
  background-size: cover;
  background-position: center center;
  height: 200px;
  border-radius: 30px;
}

.top-group {
  border-radius: 30px;
  height: 100px;
  border: 5px solid gray;
}

.top-text {
  font-size: 1rem;
}

.top-sentence {
  display: none;
}

.about-image1 {
  height: 150px;
}

.about-text {
  position: static;
}

.about-text-title {
  position: static;
  font-size: 2rem;
}

.about-text-sentence{
  position: static;
}

.about-text-sentence>li {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

}