<div class="container pt-5">
  <div class="row d-flex">

    <% @users.each do |user| %>
      <div class="col-md-5 offset-1 mt-5 shadow px-0 item-content">



          <div class="parts">
            <%= attachment_image_tag user, :itemimage %>
          </div>


          <div class="parts bg-white">
            <p>imageタグ</p>
            <% user.itemimage_tags.each do |tag| %>
              <span class="badge badge-primary"><%= tag.name %></span>
            <% end %>
            <p><%= user.name %></p>
          </div>


        <!--< % user.items.each do |item| %>-->
        <!--  <p>< %= item.name %>< %= item.maker %></p>-->
        <!-- % end %>-->
      </div>
    <% end %>
  <%= paginate @users %>
  </div>
</div>
