<div class="mr-5 ml-auto">
  <%= form_tag(searches_path,method: :get) do %>
  <span class="mr-3"><%= text_field_tag :search, "", placeholder: "何かお探しですか？", size:30 %></span>
  <%= submit_tag '検索', class:"btn-sm" %>
  <% end %>
</div>